/* место для вашего кода */
/* Header */

.header {
    padding: 92px 0;
}

.header__menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

/* Стилизация навигации */

.header__links-list {
    display: flex;
    gap: 32px;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link_active {
    text-decoration: none;
}

.header__link {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Стилизация логотипа */

.header__logo {
    justify-self: center;
}

.header__logo-img {
    width: 148px;
    max-height: 105px;
}
/* Стилизация адресса и тд. */

.header__address {
    justify-self: end;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
}

/* Cover */

.cover {
    background-image: url("..//images/cover.jpg");
    padding: 165px 0px 50px 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: 0.6;
}

.cover__title {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 100px;
    font-size: normal;
    font-weight: 700;
    line-height: 100%;
    position: relative;
    z-index: 1;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: 30px;
}

.aligned-text {
    display: block;
    margin-top: 7px;
}

.aligned-text_center {
    display: block;
    text-align: center;
    margin-top: 32px;
}

.aligned-text_right {
    display: block;
    margin-left: 924px;
    margin-top: 12px;
}

.cover__description {
    display: flex;
    align-items: center;
    gap: 80px;
    margin-top: 139px;
    margin-left: 420px;
    position: relative;
    z-index: 1;
}

.cover__description-text {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 18px;
}

.bet__button {
    color: #fff;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 12px 32px;
    background-color: transparent;
    border: 1px solid #fff;
    margin-right: 32px;
}

/* Lots */

.lots {
    padding: 179px 50px 0 50px;
}

.lots__heading {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: #000;
    margin-left: 40px;
}

.lots__card-list {
    display: flex;
    list-style: none;
    gap: 25px;
    margin-top: 28px;
}

.lots__card-list-item {
    display: flex;
    flex-grow: 1;
    padding-bottom: 32px;
}

.card-link {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.card {
    width: 100%;
    min-height: 450px;
    position: relative;
    padding: 50px 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
}
.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
}

.card__title {
    width: 350px;
    color: #fff;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.card__text {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    position: relative;
    z-index: 1;
}

.lots__look-more-link {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 40px;
}

/* About */

.about {
    margin-top: 183px;
    padding: 0 50px;
}

.about__column {
    display: flex;
    align-items: center;
    gap: 120px;
    margin-left: 95px;
}

.about__logo {
    width: 240px;
    height: 240px;
    padding: 63px 46px;
    background-color: #000;
    border-radius: 50%;
}

.about__logo-img {
    width: 148px;
    height: 114px;
}

.about__title {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 1px;
}

.about__text {
    display: flex;
    flex-direction: column;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 455px;
    margin-top: 6px;
}

.about__text-p {
    max-width: 885px;
}

.about__text-padding-bottom {
    padding-bottom: 23px;
}

/* Footer */

.footer {
    margin-top: 180px;
}

.footer__menu {
    display: flex;
    justify-content: space-between;
    padding: 0 0 90px 0;
}

.footer__address {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.footer__menu-list {
    list-style: none;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 2px;
}

.footer__menu-link {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__menu-link-active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    list-style: none;
    gap: 48px;
    margin-top: 2px;
}

.footer__social-list-item {
    max-width: 48px;
}